:root {
  --font-default: "DM Sans",sans-serif;
  --modal-duration: 0.8s;
  --red-primary: #FE142F;
  --grey-bg: #232323;
  --light-grey: #C4C4C4;
  --green-primary: #279e7a;
  --red-secondary: #FF4E60;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ---------------general------------- */
body {
  font-family: var(--font-default);
  font-size: 18px;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 55px 30px 65px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
p {
  margin-bottom: 0;
}

/* buttons */
button,
input.button {
  font-family: var(--font-default);
  background: var(--red-primary);
  color: #fff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

/* -----------header----------- */
/* logo */
.header-logo {
    float: left;
}
.header-logo img {
  width: 23vw;
  min-width: 103px;
  max-width: 277px;
}

/* navigation */
.main-navbar {
    float: right;
}
.topnav .menu-item {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 12px 12px;
  margin: 5px;
  text-decoration: none;
  font-size: 1.8vw;
}
.topnav .menu-item:hover,
.topnav .menu-item.active {
  background-color: var(--red-primary);
  color: #ffffff;
  border-radius: 15px;
  text-decoration: underline;
  text-underline-offset: 5px;
}
.topnav a.icon {
  display: none;
}

/* ------------footer------------ */
footer {
  margin-top: auto;
  margin-bottom: 0;
}
.copyrights {
  color: var(--red-primary);
  font-weight: 700;
}

/* --------------main----------- */
main {
  margin-top: 50px;
}
.hero-section {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
}
.hero-content {
  background: var(--grey-bg);
  color: #fff;
  text-align: left;
}
.hero-content > * {
  z-index: 1;
}
.hero-headline {
  white-space: nowrap;
  font-size: 7.6vw;
  font-weight: 500;
  letter-spacing: 0.4vw;
}
.hero-text {
  font-size: 1.5rem;
}
.hero-img img {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0;
}
.hero-section > .btn-signup {
  display: none;
}

/* button */
.btn-signup {
  text-transform: capitalize;
  font-size: 1.575rem;
  padding: 11px 30px;
}

/* -----------Modal form------------ */
/* modal */

/* open modal animation */
@-webkit-keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}

.bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}
.content {
  margin: 5% auto;
  width: 100%;
  max-width: 535px;
  -webkit-animation-name: modalopen;
          animation-name: modalopen;
  -webkit-animation-duration: var(--modal-duration);
          animation-duration: var(--modal-duration);
  background: var(--grey-bg);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  color: #fff;
}
.modal-body {
  padding: 45px 40px 20px;
}

/* close modal */
.close {
  position: absolute;
  right: 25px;
  top: 25px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}
.close::before,
.close::after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}
.close::before {
  transform: rotate(45deg);
}
.close::after {
  transform: rotate(-45deg);
}

/* form */
label,
.text-label {
  font-size: 0.875rem;
  font-weight: 200;
  margin-top: 12px;
  margin-bottom: 17px;
  display: inline-block;
}
input {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
}
.text-control {
  width: 100%;
  border-radius: 8px;
  font-size: 1.125rem;
  padding: 20px;
  height: 65px;
}
.checkbox-icon {
  cursor: pointer;
}
.checkbox-label,
.checkbox2-label {
  position: relative;
  margin-left: 33px;
  font-size: 0.75rem;
  font-weight: 200;
}
.checkbox-label {
  margin-right: 26px;
  margin-top: 0;
  margin-bottom: 14px;
}
.checkbox-label .checkbox-icon {
  border: 1px solid var(--light-grey);
}
.checkbox-input:checked + .checkbox-label .checkbox-icon {
  border: 1px solid var(--green-primary);
}
.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: -33px;
  top: -4px;
  transition: 0.3s;
}
.checkbox-label .checkbox-icon::after,
.checkbox2-label .checkbox-icon::after {
  content: "";
  width: 18px;
  height: 18px;
  background-color: var(--green-primary);
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
}
.checkbox-input {
  display: none;
}
.checkbox-input:checked + .checkbox-label .checkbox-icon::after,
.checkbox-input:checked + .checkbox2-label .checkbox-icon::after {
  opacity: 1;
}
.checkbox-input:checked + .checkbox2-label .checkbox-icon {
  background: var(--green-primary);
}
.checkbox2-label {
  margin-top: 0;
  margin-bottom: 12px;
}
.checkbox2-label .checkbox-icon {
  border-radius: 6px;
  background: var(--light-grey);
}
.checkbox2-label .checkbox-icon::after {
  width: 7px;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  transform: rotate(-55deg);
  left: 28%;
  top: 25%;
}
.formData:last-of-type {
  margin-top: 15px;
}
.btn-submit,
.btn-close {
  display: block;
  margin: 20px auto 0;
  font-size: 0.875rem;
  padding: 12px 55px;
}

/* errors */
.formData[data-error]::after {
  content: attr(data-error);
  font-size: 0.625em;
  color: var(--red-secondary);
  display: block;
  margin-top: 7px;
  text-align: left;
  line-height: 1;
  opacity: 0;
  transition: 0.3s;
}
.formData[data-error-visible="true"]::after {
  opacity: 1;
}
.formData[data-error-visible="true"] .text-control,
.formData[data-error] label:first-of-type .checkbox-icon {
  border: 2px solid var(--red-secondary);
}

/* Success message */

.bground[data-success] {
  display: block;
}
.bground[data-success] .content {
  height: 761px;
  display: flex;
  flex-direction: column;
}
.bground[data-success] .modal-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.bground[data-success] form {
  display: none;
}
.success-message {
  padding: 15px;
  margin: auto;
}
.success-message p {
  font-size: 2.25rem;
  font-weight: 200;
  text-align: center;
  line-height: 1.5;
}
.bground[data-success] .btn-close {
  display: block;
  margin-bottom: 0;
}
.btn-close {
  display: none;
}

/* Media queries */

@media screen and (min-width: 1400px) {
  footer {
    margin-left: -60px;
  }
}

@media screen and (min-width: 1300px) {
  main {
    margin-top: 85px;
  }
  .hero-headline {
    font-size: 6rem;
    letter-spacing: 5px;
  }
}

@media screen and (min-width: 985px) {
  .topnav .menu-item {
    font-size: 18px;
  }
}

@media screen and (min-width: 801px) {
  /* general */
  button:hover,
  input.button:hover {
    background: #3876ac;
  }

  /* main */
  .hero-section {
    display: flex;
    height: 660px;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    flex: 0 0 41%;
    padding: 55px 55px 70px 55px;
    min-width: 41%;
  }
  .hero-img {
    flex: 1 0 59%;
  }
  .hero-img img {
    -o-object-position: center;
       object-position: center;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero-text {
    margin-top: 20px;
  }
  .btn-signup {
    margin-top: 20px;
  }

  /* footer */
  .copyrights {
    font-size: 0.95rem;
    margin-top: 100px;
  }
}

@media screen and (max-width: 800px) {
  .hero-section {
    display: block;
    box-shadow: unset;
  }
  .hero-content {
    background: #fff;
    color: #000;
  }
  .hero-content::after {
    content: unset;
  }
  .hero-content .btn-signup {
    display: none;
  }
  .hero-headline {
    white-space: normal;
  }
  .hero-text {
    font-size: 3.2vw;
    margin-top: 20px;
  }
  .hero-img img {
    border-radius: 10px;
    margin-top: 40px;
  }
  .hero-section > .btn-signup {
    display: block;
    margin: 30px auto 0;
    padding: 7px;
    font-size: 0.875rem;
    width: 9rem;
  }
  .copyrights {
    font-size: 0.625rem;
    margin-top: 30px;
    text-align: center;
  }
}



@media screen and (max-width: 800px) {
  .container {
    padding: 33px 30px 20px;
  }
  .topnav .menu-item {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
    font-size: 26px;
    color: #ff0000;
    margin-top: -7px;
  }
  main {
    margin-top: 28px;
  }
  .topnav.responsive .main-navbar {
    margin-top: 30px;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive .menu-item {
    float: none;
    display: block;
    text-align: left;
    font-size: 14px;
  }
}
@media screen and (max-width: 535px) {
  .topnav .menu-item {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .hero-headline {
    font-size: 9vw;
  }
  .hero-text {
    font-size: 0.85rem;
  }

  /* modal form */
  .content {
    margin-top: 80px;
  }
  .bground[data-success] .content {
    margin-bottom: 0;
    height: calc(100vh - 80px);
  }
  .close {
    right: 20px;
    top: 20px;
  }
  .modal-body {
    padding: 30px 30px 20px;
  }
  label, .text-label {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .text-control {
    padding: 10px;
    height: 50px;
  }
  .checkbox-label .checkbox-icon, .checkbox2-label .checkbox-icon {
    width: 20px;
    height: 20px;
    left: -26px;
    top: -2px;
  }
  .checkbox-label .checkbox-icon::after {
    width: 14px;
    height: 14px;
  }
  .checkbox-label {
    margin-right: 10px;
    margin-bottom: 6px;
  }
  .checkbox-label, .checkbox2-label {
    margin-left: 25px;
  }
  .checkbox2-label .checkbox-icon::after {
    left: 23%;
    top: 25%;
  }
  .formData:last-of-type {
    margin-top: 10px;
  }
  .btn-submit, .btn-close {
    margin-top: 15px;
  }
  .success-message p {
    font-size: 1.5rem;
  }

}
